/* 滚动条优化 start */
::-webkit-scrollbar{
  width:8px;
  height:8px;
}
::-webkit-scrollbar-track{
  background: #f6f6f6;
  border-radius:2px;
}
::-webkit-scrollbar-thumb{
  background: #cdcdcd;
  border-radius:2px;
}
::-webkit-scrollbar-thumb:hover{
  background: #747474;
}
::-webkit-scrollbar-corner {
  background: #f6f6f6;
}
/* 滚动条优化 end */

.el-main {
  padding: 10px !important;
}

/*
  el-drawer 抽屉
 */
.el-drawer {
  .el-drawer__header {
    margin-bottom: 0 !important;
    border-bottom: 1px solid #eeeeee;
    padding:0 10px 0 !important;
  }
 .el-drawer__body {
   padding: 10px !important;
 }
}
